body {
    background-color: rgba(199, 192, 192, 0.664);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sectionA, #sectionB, #sectionC {
    width: 700px;
    height: 750px;
    text-align: center;
    border: 5px solid grey;
    border-radius: 40px;
    margin: 50px;
    background-color: azure;

}

#sectionA p, #sectionB p, #sectionC p {
    margin: 3px 0px;
}

#sectionA h2, #sectionB h2, #sectionC h2 {
    padding: 50px 0px;
    font-size: 35px;
    color:rgba(143, 110, 49, 0.692);

}



.styld {
    text-align: left;
    font-size: 20px;
    color:rgba(143, 110, 49, 0.692);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
}


#bruttoValue {
    color:rgba(143, 110, 49, 0.692);
    background-color: azure;
    text-align: right;
    border: none;
    font-size: 24px;
    padding: 0px;
    border-bottom: 2px solid rgba(143, 110, 49, 0.692);
    width: 180px;
}

#bruttoValue:focus {
    outline: none;
    border-bottom-color: rgb(231, 150, 0);
    color:rgb(231, 150, 0)
}

#numberOfChildrenForm {
    padding: 5px 0px 0px 0px;
}
#numberOfChildrenForm input:hover, #numberOfChildrenForm label:hover {
    cursor: pointer;
}

#numberOfChildrenForm input {
    margin-left: 30px;
    
}

/*
#minusOneChild, #plusOneChild {
    width: 18px;
    height: 18px;
    padding: 6px 6px 0px 6px;
}

#minusOneChild:hover, #plusOneChild:hover {
    cursor: pointer;
}

#numberOfChildren {
    font-size: 20px;
}
*/


#sectionA hr, #sectionB hr, #sectionC hr {
    border-bottom: 1px solid rgba(143, 110, 49, 0.692);
    width: 90%;
}


.checkboxFlex {
    display: flex;
    justify-content: space-between;
}



.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}